@import url('https://fonts.googleapis.com/css2?family=Playwrite+ZA:wght@100..400&display=swap');
html{
    font-family: "Playwrite ZA", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    background-color: #b8b8b8;
}
