{% extends "base.html" %}
{% load static %}

{% block page_title %}
    {{month | title}} Challenge
{% endblock %}

{% block CSS_file %}
    <link rel="stylesheet" href="{% static "challenges/snippets/headers.css" %}">
    <link rel="stylesheet" href="{% static "challenges/challenge.css" %}">  
{% endblock %}

{% block content %}
    {% include "../challenges/snippets/allChallenges.html" %}
    <h1>{{month | title}} Challenge:</h1>
    {% if challenge is not None %}
        <h2>{{challenge}}</h2>
    {% else %}
        <p class="fallback">You don't have challenge for this month yet</p>
    {% endif %}
{% endblock %}